@import url('https://fonts.googleapis.com/css2?family=Martel&family=Montserrat:wght@500&family=Proza+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: darkslategrey;
    /* color: #8b0000; */
}

h1 {
    font-family: Montserrat, sans-serif;
}

h2 {
    font-family: Martel, sans-serif;
}

p {
    font-family: "Proza Libre", sans-serif;
}

/* Style logo */
#logo {
    height: 10%;
    text-align: center;
    font-size: 200%;
    margin: 2.5% auto;
}

#logo img {
    height: 64px;
}

/* Style game area */
#game-area {
    height: 22vw;
    width: 100%;
    margin-top: 2.5%;
    background-color: darkcyan;
}

#game-box {
    height: 100%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.holder {
    width: 22.5%;
    display: flex;
    justify-content: center;
}

.holder img {
    width: 90%;
    object-fit: contain;
    margin-top: 15px;
}

#control-box {
    height: 8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: darkcyan;
    align-items: center;
}

#roll-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 90%;
}

#restart,
#exit {
    font-size: 100%;
    height: 50px;
    width: 100px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
}

#roll-dice {
    font-size: 120%;
    height: 80px;
    width: 120px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
}

#roll-dice:hover,
#restart:hover,
#exit:hover {
    color: white;
    background-color: #001a1a;
    border: 1px solid white;
}



/* Add style to score area */

#results-area {
    height: 30vw;
}

#results-message {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px auto;
    border-bottom: 1px solid darkcyan;
    height: 10%;
}

.dice-roll-result {
    font-size: 80%;
}

#score-holder {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5%;
    text-transform: uppercase;
}

.score-boxes {
    width: 40%;
    text-align: center;
}

#message-box {
    width: 20%;
    text-align: center;
    font-size: 200%;
    color: darkslategrey;
}

#palyer-score {
    font-size: 150%;
    color: darkgreen;
}

#cpu-score {
    font-size: 150%;
    color: darkred;
}

/* media query */

/* for screen size 1024px and below */
@media screen and (max-width: 1024px) {

    #roll-dice,
    #restart,
    #exit {
        font-size: 90%;
        height: 40px;
        width: 80px;
        border-radius: 7.5px;
        text-align: center;
        font-weight: bold;
        border: 1px solid black;
    }

    #results-message {
        margin: 0;
        padding: 15px;
    }
}

/* for screen size 750px and below */
/* @media screen and (max-width: 750px) {
    #logo {
        font-size: 160%;
    }

    #logo img {
        height: 52px;
    }

    #results-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 15%;
        padding: 30px;
    }

    #message-box {
        width: 30%;
        font-size: 150%;
        padding: 15px;
    }

    .score-boxes {
        width: 35%;
        text-align: center;
        font-size: 80%;
    }
} */