@import url('https://fonts.googleapis.com/css2?family=Martel&family=Montserrat:wght@500&family=Proza+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    font-family: Montserrat, sans-serif;
}

h2 {
    font-family: Martel, sans-serif;
}

p {
    font-family: "Proza Libre", sans-serif;
}

/* Style logo */
#logo {
    height: 10%;
    text-align: center;
    font-size: 200%;
    margin: 5px auto;
}

#logo img {
    height: 64px;
}

/* Style game area */
#game-area {
    height: 30vw;
    width: 100%;
    margin-top: 10%;
}

#game-box {
    height: 100%;
    width: 90%;
    margin: 10% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.holder {
    width: 22.5%;
    display: flex;
    justify-content: center;
}


/* #dice-one {
    background-color: blue;
}

#dice-two {
    background-color: red;
}

#dice-three {
    background-color: yellow;
}

#dice-four {
    background-color: green;
} */

.holder img {
    width: 90%;
    object-fit: contain;
    margin-top: 2.5%;
}

#roll-button {
    display: flex;
    justify-content: center;
    flex-direction: column
}

#roll-button>button {
    font-size: 100%;
    height: 50px;
    width: 100px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
}